# HotDrop Application Configuration
PORT=8081
DB_PORT=5436

# Database Credentials
DB_NAME=hotdrop
DB_USER=hotdrop
DB_PASSWORD=hotdrop_secret

# Security
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION_MS=86400000

# Queue & Throttling Parameters
ADMISSION_BATCH_SIZE=50
ADMISSION_VALIDITY_SECONDS=120
ADMISSION_POLL_RATE_MS=3000
STATUS_SCHEDULER_RATE_MS=2000
